form {
    background-color: white;
    padding: 20px;
    margin: 20px auto;
    border: 2px solid  rgb(145, 9, 100);
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    width: 30%;
    font-size: large;
    text-align: left;
    font-weight: bolder;
}

textarea, select {
    margin-bottom: 20px;
    width: 100%;
    border: 2px solid  rgb(145, 9, 100) ;
    border-radius: 5px;
}


