table {
    background-color: white;
    padding: 10px;
    margin: auto;
    border: 5px solid  rgb(145, 9, 100);
    margin-top: 20px;
}

td, th {
    border-radius: 2px;
    border: 2px solid  rgb(145, 9, 100);
    padding: 2px;
    font-size:larger;
}

th {
    padding: 8px 2px;
    font-size:xx-large;
    font-weight: bolder;
}